<div class="center jumbotron">
	<h1>Go Fund Me</h1>
	<p>
	  This is the home page for the Go Fund Me
	  mockup application.
	</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>