<footer class="footer">
  <small>
    The Go Fund Me Mockup Application</a>
    by Carlos Velasquez and Derick Arzu</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>
  </nav>
</footer>